/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272a31;
  font-size: 1.5rem;
}

/*
      ==============================================
                  ****** NAVBAR ******
      ==============================================
  */

#nav1:hover {
  color: #ec5242;
}

#nav2:hover {
  color: #ec5242 !important;
}

#nav3:hover {
  color: #ec5242 !important;
}

/*
      ==============================================
                  ****** HEAD SECTION ******
      ==============================================
  */
.head {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.884), rgba(247, 242, 241, 0.952)), url(assets/head-sec.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.head h2 {
  color: #ec5242;
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 1rem;
}

.top-head {
  font-size: 2rem;
  font-weight: 1000;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(224, 41, 41), rgb(90, 39, 39));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-ved {
  width: 100%;
}

.credit {
  font-size: 0.7rem;
}

.no-d {
  display: none;
}

/*
      ==============================================
                  ****** ACADEMY FEATURES ******
      ==============================================
  */
.features {
  background-color: #272a31;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.features-title {
  color: white;
  text-align: center;
  text-decoration: underline #ec5242;
  padding-bottom: 1rem;
}

.card1 {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: #ec5242;
  font-size: 2rem;
  padding: 0 1rem 0 1rem;
}

.title {
  color: #ec5242;
  text-align: center;
  padding: 0 1rem 0 1rem;
  line-height: 1.3rem;
}

.text {
  color: white;
  line-height: 1.3rem;
}

.action {
  background-color: #ec5242;
  width: 100%;
  margin: 0 auto;
  height: 3rem;
}

.action-text {
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  font-weight: 900;
}

.action-text:hover {
  color: #272a31;
}

/*
      ==============================================
            ****** COURSES PAGE STYLES ******
      ==============================================
  */

.courses {
  background-color: #d3d3d3;
}

.courses h2 {
  text-align: center;
  color: #ec5242;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline #272a31;
}

.our-courses {
  width: 80%;
  margin: 0 auto;
}

.action-btn {
  background-color: #d3d3d3;
}

/*
      ==============================================
            ****** ABOUT PAGE STYLES ******
      ==============================================
  */

#about-title {
  text-align: center;
}

.my-card {
  border: 5px solid white;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.7rem;
}

.txt {
  font-weight: 900;
  font-size: 2rem;
}

/*
      ==============================================
                  ****** Instructors styling ******
      ==============================================
  */

.person {
  width: 15%;
}

.my-btn {
  background-color: #ec5242 !important;
}

/*
      ==============================================
                  ****** FOOTER ******
      ==============================================
  */
.top-footer {
  background-color: #272a31;
  color: white;
}

.top-footer p,
.test {
  text-decoration: underline #ec5242;
}

.base-footer {
  background-color: #d3d3d3;
}

.social i {
  color: black;
  font-size: 2.5rem;
  padding: 1rem;
}

.intro {
  font-size: 1.5rem;
}

/*
      ==============================================
            ****** MEDIA QUERIES FOR TABLET ******
      ==============================================
  */
@media only screen and (min-width: 768px) {
  .top-head {
    font-size: 2rem;
  }

  .hom-head,
  .acd,
  #lefty,
  #big-title {
    margin-left: 5rem;
  }

  .card1 {
    font-size: 1.5rem;
  }

  .title,
  .text {
    padding-top: 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }

  .action-text {
    padding: 0 1rem 0 12rem;
  }

  .top-footer {
    font-size: 2rem;
  }

  .base-footer {
    height: 210px;
  }

  .social i {
    font-size: 1.7rem;
  }

  .social-icon {
    padding: 0.5rem;
  }

  .intro {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: #272a31;
  }

  .sign-txt {
    font-size: 1.5rem;
  }

  .my-card {
    width: 90%;
  }
}

/*
      ==============================================
            ****** MEDIA QUERIES FOR DESKTOP ******
      ==============================================
  */
@media only screen and (min-width: 1024px) {
  #nav1 {
    padding-left: 15rem;
    justify-content: space-around;
  }

  #nav2 {
    padding-left: 6rem;
  }

  #nav3 {
    padding-left: 7rem;
  }

  #nav4 {
    border: 5px solid #ec5242;
    color: #ec5242;
    position: absolute;
    right: 3rem;
  }

  .head {
    background-size: cover;
  }

  .head h2 {
    padding-top: 1rem;
  }

  .top-head {
    font-size: 3rem;
  }

  .my-font {
    font-size: 4rem;
  }

  .hom-head,
  .acd,
  #lefty,
  #big-title {
    margin-left: 5rem;
  }

  .card1 {
    font-size: 1.5rem;
  }

  .title,
  .text {
    padding-top: 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }

  .title1 {
    padding-left: 6rem;
  }

  .title2 {
    padding-right: 0.2rem;
  }

  .title3 {
    padding-right: 4.2rem;
  }

  .action-text {
    padding: 0 1rem 0 35rem;
  }

  .partner-icon {
    font-size: 2rem;
  }

  .intro {
    font-size: 2rem;
  }

  .social i {
    font-size: 2.7rem;
  }

  .my-card {
    width: 60%;
  }
}
