/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272A31;
}

a:hover {
  color: #EC5242
}

/*
    ==============================================
                ****** FOOTER ******
    ==============================================
*/
#nav1:hover {
  color: #EC5242;
}

#nav2:hover {
  color: #EC5242;
}

#nav3:hover {
  color: #EC5242;
}

/*
    ==============================================
                ****** FOOTER ******
    ==============================================
*/

.top-footer {
  background-color: #272A31;
  color: white;
}

.principle {
  font-weight: 700;
  font-size: 1.2rem;
}
