/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272A31;
}

a:hover {
  color: #EC5242
}

/*
    ==============================================
                ****** NAVBAR ******
    ==============================================
*/
#nav1:hover {
  color: #EC5242;
}

#nav2:hover {
  color: #EC5242;
}

#nav3:hover {
  color: #EC5242;
}

/*
    ==============================================
                ****** HEAD SECTION ******
    ==============================================
*/
.head {
  background-color: #d3d3d3;
}

.head h2 {
  color: #EC5242;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.top-head {
  font-size: 2rem;
  font-weight: 900;
  color: #EC5242;
  text-transform: uppercase;
  text-align: center;
}

.content {
  border: 2px solid white;
  padding: 0 2rem 0 2rem;
}

/*
    ==============================================
                ****** ACADEMY FEATURES ******
    ==============================================
*/

.features {
  background-color: #272a31;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.features-title {
  color: white;
  text-align: center;
  border-bottom: 1px solid #EC5242;
}

.card1 {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: #EC5242;
  font-size: 2rem;
  padding: 0 1rem 0 1rem;
}

.title {
  color: #EC5242;
  text-align: center;
  padding: 0 1rem 0 1rem;
  line-height: 1.3rem;
}

.text {
  color: white;
  line-height: 1.3rem;
}

/*
    ==============================================
                ****** FOOTER ******
    ==============================================
*/

.top-footer {
  background-color: #272A31;
  color: white;
}

.principle {
  font-weight: 700;
  font-size: 1.2rem;
}
